streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-pinecone
langchain-huggingface
pinecone-client==3.2.2
python-dotenv
sentence-transformers
PyGithub
tiktoken
duckduckgo-search
